// Archivo CST para Tang Nano 9K - Seguidor de Línea

// Reloj del sistema (27 MHz interno de la placa)
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Sensores BFD-1000
IO_LOC "S1" 25;
IO_PORT "S1" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "S2" 26;
IO_PORT "S2" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "S3" 27;
IO_PORT "S3" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "S4" 28;
IO_PORT "S4" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "S5" 29;
IO_PORT "S5" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Sensor LDR (Start con Flash)
IO_LOC "START" 30;
IO_PORT "START" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Salidas al Puente H (TB6612FNG)
IO_LOC "PWMA" 33; // Velocidad Motor A (Izquierdo)
IO_PORT "PWMA" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "AIN1" 34; // Dir 1 Motor A
IO_PORT "AIN1" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "AIN2" 35; // Dir 2 Motor A
IO_PORT "AIN2" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "PWMB" 36; // Velocidad Motor B (Derecho)
IO_PORT "PWMB" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "BIN1" 37; // Dir 1 Motor B
IO_PORT "BIN1" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "BIN2" 38; // Dir 2 Motor B
IO_PORT "BIN2" IO_TYPE=LVCMOS33 PULL_MODE=UP;
