
// Antonio Portilla
// 31/05/2026
// Gowin Physical Constraints File (.cst) - Versión 0.2
// Se añaden los niveles lógicos estándar (LVCMOS33) para compatibilidad.
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33;

IO_LOC "START" 30;
IO_PORT "START" IO_TYPE=LVCMOS33;

IO_LOC "S1" 25;
IO_PORT "S1" IO_TYPE=LVCMOS33;
IO_LOC "S2" 26;
IO_PORT "S2" IO_TYPE=LVCMOS33;
IO_LOC "S3" 27;
IO_PORT "S3" IO_TYPE=LVCMOS33;
IO_LOC "S4" 28;
IO_PORT "S4" IO_TYPE=LVCMOS33;
IO_LOC "S5" 29;
IO_PORT "S5" IO_TYPE=LVCMOS33;

IO_LOC "PWMA" 33;
IO_PORT "PWMA" IO_TYPE=LVCMOS33;
IO_LOC "AIN1" 34;
IO_PORT "AIN1" IO_TYPE=LVCMOS33;
IO_LOC "AIN2" 35;
IO_PORT "AIN2" IO_TYPE=LVCMOS33;

IO_LOC "PWMB" 36;
IO_PORT "PWMB" IO_TYPE=LVCMOS33;
IO_LOC "BIN1" 37;
IO_PORT "BIN1" IO_TYPE=LVCMOS33;
IO_LOC "BIN2" 38;
IO_PORT "BIN2" IO_TYPE=LVCMOS33;
